
.navbar{
    position: fixed;
    width: 100%;
    height: 30px;
    padding: 20px 6%;
    display: flex;
    flex-wrap: wrap;
    /* overflow: visible; */
    justify-content: space-between;
    align-items: center;
    /* background-color: #111; */
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}
.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-left img{
/* position: fixed;
left: 20px; */
width: 90px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    position: relative;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons {
    position: relative;
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    position: relative;
    width: 30px;
    border-radius: 4px;
}
.navbar-profile{
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-right: 110px;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 110px;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 10px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
}
.nav-dark{
    background-color: #141414;
}

@media (max-width: 800px) {
    .navbar{padding: 20px 4%;}
    .navbar-left ul{display: none;}
    .navbar img{height: 25px;}
}
@media (max-width: 500px) {
    .navbar img{height: 20px;}
    .navbar-right{gap: 10px;}
}