
.footer {
  /* width: 100vw; */
 max-width: 1000px;
 margin: 0 auto;
 padding: 30px 4%;
}
.footer-icons{
  display: flex;
  gap: 20px;
  margin: 40px 0;
}
.footer-icons img{
  width: 20px;
  cursor: pointer;
}
.footer ul{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  margin-bottom: 30px;
  list-style: none;
  color: whitesmoke;
}
.copyright-text{
  color: gray;
  font-size: 14px;
}

@media (max-width: 800px) {
  .footer-icons img{width: 25px;}
  .footer ul{
    grid-template-columns: auto auto;
    gap: 8px;
    font-size: 14px;
  }
}

