
.signup{
  width: 100vh;
  /* background-image: url('/background_banner.jpg'); */
  background-color: linear-gradient(#0000007e,#0000007e);
  padding: 20px 8%;

}
.signup-logo{
  width: 150px;
}
.signup-form{
  width: 100%;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px;
  padding-right: 100px;
  margin: auto;
  margin-left: 350px;
  border-radius: 5px;
  
}
.signup-form h1{
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
  color: white;
}
.signup-form input{
  width: 100%;
  height: 50px;
  background: #333;
  color: white;
  margin: 12px 0;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 500;
}
.signup-form input::placeholder{
  font-size: 16px;
  font-weight: 500;
}
.signup-form button{
  width: 100%;
  border: 0;
  outline: 0;
  padding: 16px;
  background: #e50914;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}
.form-help{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}
.remember{
  display: flex;
  align-items: center;
  gap: 5px;
}
.remember input{
  width: 18px;
  height: 18px;
}
.form-switch{
  margin-top: 40px;
  color: #737373;
}
.form-switch span{
  margin-left: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;

}
.signup-spinner{
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.signup-spinner img{
  width: 60px;
}
@media (max-width: 500px) {
  .signup{padding: 15px 5%;}
  .signup-form{
    padding: 20px;
    margin-top: 30px;
  }
}